<div id="show_banner">
  <div class="wrapper_skinny">
    <h1><%= @podcast.title %></h1>
    <p class="description"><%= @podcast.description %></p>
    <% unless @podcast.itunes.blank? %>
        <a href="<%= @podcast.itunes %>" class="subscribe_link" target="_blank">iTunes</a>
    <% end %>
    <% unless @podcast.stitcher.blank? %>
        <a href="<%= @podcast.stitcher %>" class="subscribe_link" target="_blank">Stitcher</a>
    <% end %>
    <% unless @podcast.podbay.blank? %>
        <a href="<%= @podcast.podbay %>" class="subscribe_link" target="_blank">PodBay</a>
    <% end %>
  </div>
</div>