<!DOCTYPE html>
<html>
  <head>
    <title>Podcastify</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if notice %>
        <div class="alert alert-info"><%= notice %></div>
    <% end %>

    <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
